In [2]:
%load_ext sql

In [3]:
%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

In [8]:
# Assume you want to check the column names of a table named 'movies'
table_name = 'languages'

# Query to get the column names of the specified table
columns = %sql PRAGMA table_info($table_name);
columns_df = columns.DataFrame()

# Print the column names
print(columns_df['name'])

 * sqlite:///TMDB.db
Done.
0        iso_639_1
1    language_name
Name: name, dtype: object

### How many movies do not have English as their original language? (2 marks)

In [31]:
%%sql
SELECT COUNT(*) AS non_english_movie_count
FROM movies
WHERE original_language != 'en';

 * sqlite:///TMDB.db
Done.

[(298,)]

### How many movies in the database were produced by Pixar Animation Studios? (3 marks)

In [61]:
%%sql
SELECT COUNT(*)
FROM movies
JOIN 
productioncompanymap
ON
movies.movie_id = productioncompanymap.movie_id
JOIN 
productioncompanies
ON
productioncompanies.production_company_id = productioncompanymap.production_company_id
WHERE production_company_name = 'Pixar Animation Studios'

 * sqlite:///TMDB.db
Done.

[(16,)]

### How many movies are in the database that are both a Romance and a Comedy? (4 marks)

In [60]:
%%sql
SELECT COUNT(*)
FROM movies
WHERE movie_id IN (
    SELECT movie_id
    FROM genremap
    JOIN genres ON genremap.genre_id = genres.genre_id
    WHERE genre_name = 'Romance'
) 
AND movie_id IN (
    SELECT movie_id
    FROM genremap
    JOIN genres ON genremap.genre_id = genres.genre_id
    WHERE genre_name = 'Comedy'
);

 * sqlite:///TMDB.db
Done.

[(484,)]

### What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch) (3 marks)

In [12]:
%%sql
SELECT title, popularity
FROM movies
JOIN 
    genremap 
ON 
    movies.movie_id = genremap.movie_id
JOIN 
    genres 
ON genres.genre_id = genremap.genre_id
JOIN 
    languagemap 
ON movies.movie_id = languagemap.movie_id
JOIN 
    languages 
ON languages. iso_639_1 = languagemap. iso_639_1
WHERE genres.genre_name = 'Action' 
  AND languages.language_name = 'Deutsch'
ORDER BY popularity DESC
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[('Captain America: Civil War', 198.372395)]

In [75]:
%%sql
select count(*)
from languages
where language_name = 'Deutsch';

 * sqlite:///TMDB.db
Done.

[(1,)]

### In how many movies did Tom Cruise portray the character Ethan Hunt? (3 marks)

In [76]:
%%sql
select count(*)
from movies
join 
    casts
on casts.movie_id = movies.movie_id
join
    actors
on actors.actor_id = casts.actor_id
where 
actor_name = 'Tom Cruise' and characters = 'Ethan Hunt';

 * sqlite:///TMDB.db
Done.

[(5,)]

### How many times was the actress Cate Blanchett nominated for an Oscar? (3 marks)

In [79]:
%%sql
select count(*)
from oscars
where name = 'Cate Blanchett';

 * sqlite:///TMDB.db
Done.

[(7,)]

### How many movies contains at least one of the official South African Languages, Afrikaans or Zulu? (3 marks)

In [74]:
%%sql
SELECT COUNT(DISTINCT movies.movie_id)
FROM movies
JOIN 
    languagemap 
ON movies.movie_id = languagemap.movie_id
JOIN 
    languages 
ON languages.iso_639_1 = languagemap.iso_639_1
WHERE languages.language_name LIKE "%Afrikaans%"
   OR languages.language_name LIKE "%Zulu%";

 * sqlite:///TMDB.db
Done.

[(8,)]